<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <form method="post" action="/">
      {{ form.csrf_token }}
      {{ form.name.label }} {{form.name}}
      {{ form.start_date.label }} {{form.start_date}}
      {{ form.start_time.label }} {{form.start_time}}
      {{ form.end_date.label }} {{form.end_date}}
      {{ form.end_time.label }} {{form.end_time}}
      {{ form.description.label }} {{form.description}}
      {{ form.private.label }} {{form.private}}
      {{ form.submit }}
    </form>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Start</th>
          <th>End</th>
        </tr>
      </thead>
      <tbody>
        {% for r in rows %}
        <tr>
          <td>{{ r[1]}}</td>
          <td>{{ r[2].strftime("%H:%M")}}</td>
          <td>{{ r[3].strftime("%H:%M") }}</td>
        </tr>

        {% endfor %}
        <!-- loop here to create rows -->
        <!-- use strftime to format date objects -->
        <!-- loop here to create rows -->
      </tbody>
    </table>
  </body>
</html>
